<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222157718646-hib0k3n0j1a3dmgt9ohq1qpjmkh1ido3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222157718646-hib0k3n0j1a3dmgt9ohq1qpjmkh1ido3</string>
	<key>API_KEY</key>
	<string>AIzaSyApCr2mPPpx2pIcyWIlrW07rzzAL6LJNdg</string>
	<key>GCM_SENDER_ID</key>
	<string>222157718646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.csTask7</string>
	<key>PROJECT_ID</key>
	<string>cstask7-3aaee</string>
	<key>STORAGE_BUCKET</key>
	<string>cstask7-3aaee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222157718646:ios:8c4ed40e7b835cabc40b57</string>
</dict>
</plist>